@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

a {
  color: var(--color-white);
}

:root {
  --color-bg: #531723;
  --color-nav: #53172350;
  --color-bg-variant:#69071a;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-dark: black;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: var(--color-bg-variant);
  transition: var(--transition);
  cursor: pointer;
  border: 1px transparent;
  height: 4rem;
  width: 8rem;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-bg-variant);
  border: 1px solid var(--color-bg);
}

.body__container {
  overflow: hidden;
}

/* Navigation container */
.nav__container {
  box-shadow: 0 0.2rem 1rem rgba(0,0,0, 0.3);
  margin-top: 0.2rem;
  border-radius: 0.5rem;
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: var(--color-nav);
  left: 1%;
  width: 98%;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav__container ul {
  display: flex;
}

.nav__container li {
  padding: 0 2rem;
}

/* Project container */
.project__title {
  position: absolute;
  top: 50%;
  left: 10%;
}

/* Video container */
.video__bg-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.video__bg {
  width: 100%;
}

/* Author Section */
.authors__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author__section {
  display: grid;
  width: var(--container-width-lg);
  margin: 2rem 0;
  grid-template-columns: auto auto;
  grid-template-areas: "left right";
}

.Dimas .author__section-img {
  grid-area: left;
}

.Dimas .author__section-desc {
  grid-area: right;
}



.author__section-img {
  display: flex;
  align-items: center;
  justify-content: end;
}

.author__section-img img {
  box-shadow: 0 1px 10px 0 var(--color-dark);
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}


/* Footer section */
.footer__section {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
}

.footer__wrap {
  width: var(--container-width-lg);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo menu"
    "copy copy";
}

.footer__logo {
  grid-area: logo;
}

.footer__list {
  grid-area: menu;
}

.footer__policy {
  grid-area: copy;
  justify-self: center;
}
