@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* color: var(--color-white); */
  line-height: 1.7;
}

:root {
  --color-bg: #121212;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-dark: black;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}

.body__container {
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
}

/* Navigation container */
.nav__container {
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: rgba(128, 0, 0, 0.5);
  width: 100%;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.nav__container ul {
  display: flex;
}

.nav__container li {
  color: var(--color-dark);
  padding: 0 2rem;
}

/* Project container */
.project__title {
  position: absolute;
  top: 50%;
  left: 10%;
}

/* Video container */
.video__bg-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.video__bg {
  width: 100%;
}

/* Author Section */
.authors__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author__section {
  width: var(--container-width-lg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem 0;
}

.author__section-img {
  display: flex;
  align-items: center;
  justify-content: end;
}

.author__section-img img {
  box-shadow: 0 1px 10px 0 var(--color-dark);
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

/* Footer section */
.footer__logo img {
  background-color: transparent;
}
.footer__section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  background-color: maroon;
  grid-template-areas:
    "logo menu"
    "copy copy";
}

.footer__logo {
  background-color: blue;
  grid-area: logo;
}

.footer__list {
  background-color: black;
  grid-area: menu;
}

.footer__policy {
  grid-area: copy;
}
